@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #22223B;
  color: white;
  max-width: 1200px;
  margin:0 auto;
}
.triangle{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
}

.button-36 {

  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
}
.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {

  }
}
.shd{
  text-shadow: 2px 2px 2px white;
}